
body {
    background-color: #EDE6DB;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.spacer {
    padding: 3%;
}

/* Home Page */
#titleMain {
    background-image: url(../images/homePage1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.container-fluid {
    padding: 2% 7%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-item {
    font-size: 1.2rem;
    padding: 0 6% 0 0;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.titleName {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3.5rem;
}

.subtitleName {
    color: white;
}

.title {
    color: black;
    text-align: center;
}

.picSection {
    text-align: center;
    position: relative;
}

.roomsPic1 {
    width: 95%;
    height: 650px;
    object-fit: cover;
}

.roomsPic2 {
    width: 90%;
    margin: 6% 0;
    height: 563.56px;
    object-fit: cover;
}

.testimonials {
    background-color: #1D5C63;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .95;
}

.quote {
    font-size: 2rem;
    color: white;
    padding: 5% 14% 1% 14%;
}

.person {
    font-size: 2rem;
    color: white;
}

#info .container-fluid {
    padding: 7%;
    background-color: #417D7A;
    text-align: center;
    color: white;
}

.features {
    padding: 3%;
}

.icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.featuresTitle {
    font-family: 'Poppins', sans-serif;
    padding: 1%;
}

#cta {
    background-color: #417D7A;
    color: white;
    text-align: center;
    padding: 8% 7%;
}

.startNow {
    font-size: 3.5rem;
    padding-bottom: 3%;
}

.bookNow {
    padding: 1.2% 2.6%;
    font-size: 1.3rem;
}

.mail {
    padding: 6% 0 2% 0;
    font-size: 2.5rem;
}

.signUpEmail {
    padding: 8px;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#footer {
    text-align: center;
    margin-top: 3%;
}

.footerIcon {
    font-size: 1.3rem;
    padding: 1% 1% 1.4% 1%;
}

.footerText {
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

/* Accomodations Page */
#accomodationMain {
    background-image: url(../images/accomodation2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#accomodationDescriptions h2 {
    font-weight: bold;
}

.generalDescription {
    text-align: center;
    padding: 6% 15%;
}

.description {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.beds {
    color: grey;
    font-size: 1.5rem;
    padding-top: 2%;
}

.darkBeds {
    font-size: 1.5rem;
    padding-top: 2%;
}

.descriptionPic {
    padding: 6%;
    width: 100%;
}

.sideDescription {
    padding: 6% 5%;
}

.doubleRoom {
    background-color: #1D5C63;
    color: white;
}

.masterSuite {
    background-color: #1A3C40;
    color: white;
}

/* About Page */
    .aboutImages {
        align-items:center;
    }
    .Img {
        max-width: 70%;
        border-radius: 15%;
        margin-top: 5%; 
    }
    .date {
        margin-left: 40%;
        align-items: center;
    }

    .container {
        display: flex;
    }

    .button {
        margin-left: 45%; 
    }

    .slider {
        width: 500px;
        height: 300px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
        width:48%;
        margin-right:2%;
        float: left;
    }
    .image-container {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
    }
    .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    #slide-1:target ~ .image-container {
        left: 0px;
    }
    #slide-2:target ~ .image-container {
        left: -500px;
    }
    #slide-3:target ~ .image-container {
        left: -1000px;
    }
    .buttons {
        position: relative;
        top: -20px;
    }
    .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: lightgreen;
    }

    .aboutSection {
        width:42%;
        float: left;
    }

    .clearfix {
        clear:both
    }

    .column {
        float: left;
        width: 33.33%;
        margin-bottom: 16px;
        padding: 0 8px;
        /* background-color: rgb(255, 255, 255); */ 
        padding-top: 3%; 
        padding-bottom: 10%; 
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .card {
        background-color: #1D5C63;
        max-width: 370px;
        max-height: 500px;
        margin-left: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        color:white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%; 
        
    }

    .contact-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        text-align: center;
        cursor: pointer;
        width: 50%;
        text-decoration: bold;
        margin-left: 25%; 
    }

    .contact-button:hover {
        background-color: rgb(224, 224, 224);
    }

    .aboutPosition {
        color: white; 
        font-weight: bold;
    }

    .ourImage {
        max-height: 200px;
    }

    .aboutTitle {
        text-align: center;
        margin-top: -5%; 
    }

    .aboutWords {
        font-family: 'Poppins', sans-serif;
        font-weight: bold; 
    }

    .mission {
        background-color: rgba(247, 247, 247, 0.379);
        margin-right: 10%; 
        margin-left: 10%; 
        margin-top: -5%; 
        
    }

    .missionTitle {
        text-align: center;
        padding-top: 5%;  

    }

    .missionText {
        text-align: center;
        padding-top: 1%; 
        padding-bottom: 10%; 
        padding-right: 5%; 
        padding-left: 5%; 
    }

    
