
body {
    background-color: #EDE6DB;
    font-family: 'Montserrat', sans-serif;
}

.spacer {
    padding: 3%;
}

/* Home Page */
#titleMain {
    background-image: url(../images/homePage1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.container-fluid {
    padding: 2% 7%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-item {
    font-size: 1.2rem;
    padding: 0 15% 0 0;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.titleName {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3.5rem;
}

.subtitleName {
    color: white;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

.picSection {
    text-align: center;
}

.homeSpa {
    width: 95%;
    height: 650px;
    object-fit: cover;
}

.roomsPic1 {
    width: 90%;
    margin: 6% 0;
    height: 563.56px;
    object-fit: cover;
}

.roomsPic2 {
    width: 90%;
    margin: 6% 0;
    height: 563.56px;
    object-fit: cover;
}

#info .container-fluid {
    padding: 7%;
    background-color: #417D7A;
    text-align: center;
    color: white;
}

.features {
    padding: 3%;
}

.icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.featuresTitle {
    font-family: 'Poppins', sans-serif;
    padding: 1%;
}

#footer {
    height: 300px;
}

/* About Page */
.aboutImages {
    align-items:center;
}
.Img {
    max-width: 70%;
    border-radius: 15%;
    margin-top: 5%; 
}
.date {
    margin-left: 40%;
    align-items: center;
}

.container {
    display: flex;
}

.button {
    margin-left: 45%; 
}



.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    width:48%;
    margin-right:2%;
    float: left;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }

  .aboutSection {
    width:42%;
    float: left;
  }

  .clearfix{
    clear:both
}