<html>
    <head>
        <title>Checkout</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <button id="checkout1">Checkout</button>
        <%console.log(rooms)%>
        <script>
            var rooms = parseInt("<%= rooms %>").length;
            var stripe = Stripe(
                "pk_test_51MftCcIeIhwUXnLYprLuPcpKYSOIK1NU6Dcmj3SmVKwieyuoocVyGeQOoXOH0CnMAlhtbrxTMA90hSFyXkc7QquL00nvb6OJdA"
            )

            document.getElementById("checkout1").addEventListener("click", function(){
                stripe.redirectToCheckout({
                    lineItems: [
                        {
                            price: "price_1MgeOsIeIhwUXnLYhrfca83a",
                            quantity: rooms
                        },
                        {
                            price: "price_1MgIaIIeIhwUXnLYC77NfonL",
                            quantity: rooms
                        },
                        {
                            price: "price_1MgIgPIeIhwUXnLYa8ACHbBG",
                            quantity: rooms
                        },
                        {
                            price: "price_1MgIgwIeIhwUXnLYvMSrrvvk",
                            quantity: rooms
                        }
                    ],
                    mode: "payment",
                    successUrl: "https://www.google.com",
                    cancelUrl: "https://www.twitter.com",
                })
                .then(function(result){
                });
            })

        </script>
    </body>
</html>